@import "tailwindcss";

@theme {
  --color-primary: #5f6fff;
}
.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary;
  }
}
